<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <style>
      .create-user-bg.bg_image_both_L_M {
        background-image: url("../img/race\ \(1\).png");
      }
      .create-user-bg.bg_image_both_L_M .center_image-width {
        width: 55%;
      }
      @media (min-width: 700px) {
        .create-user-bg.bg_image_both_L_M {
          background-image: url(../img/Laptop/login/Group\ 638.png);
          background-size: cover;
          background-position: center;
        }
        .create-user-bg.bg_image_both_L_M .center_image-width {
          width: 50%;
        }
        .create-user-bg.bg_image_both_L_M .login-form-control {
          height: 55px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container container-xs vh-100 create-user-bg bg_image_both_L_M">
      <nav class="navbar navbar-expand-lg bg-purple br-yellow fixed-top">
        <div class="container col-md-12">
          <img src="../img/play-X-logonew.png" alt="logo" class="w-11" />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav me-auto mb-2 mb-lg-0 text-white fs-15 fw-600 gap-2"
            >
              <li class="nav-item">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">In-play</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Teenpatti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Casino</a>
              </li>
            </ul>
            <div class="d-flex g-15 align-items-center" role="search">
              <a href="./customerSupport.html" class="text-decoration-none">
                <button
                  class="btn btn-yellow rounded-pill header-btnyellow fs-14 me-xl-5"
                  type="submit"
                >
                  <i class="fa-solid fa-phone"></i> Call
                </button>
              </a>
              <!-- <div class="header-searchicon">
                <div class="search">
                  <button class="search__button position-absolute">
                    <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                      <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                      </g>
                    </svg>
                  </button>
                  <input type="text" class="search__input position-relative" placeholder="Search">
  
                </div>
              </div> -->

              <!-- <div class="avatar-header rounded-circle overflow-hidden">
                <a href="./avatar.html">
                  <img src="../img/lapimg-home/header-img.png" alt="" srcset="" width="52" class=" rounded-circle">
                </a>
              
              </div>
  
              <div class="d-flex align-items-center ">
                <i class="fa-solid fa-bars text-white fs-20" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"></i>
              </div> -->

              <div class="d-flex g-15">
                <a href="./login.html" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill header-btnyellow fs-14 bg-white"
                    type="submit"
                  >
                    Login
                  </button>
                </a>
                <a href="./main_joinnow.html" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill header-btnyellow fs-14 bg-white"
                    type="submit"
                  >
                    Signup
                  </button>
                </a>
                <a href="#" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill bg-yellow fs-14"
                    type="submit"
                  >
                    Demo Login
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div
        class="d-flex justify-content-center fixed-top w-100 topheader_lap mobile-tab-none"
      >
        <div class="w-100 d-flex justify-content-center">
          <div class="d-flex justify-content-center">
            <div
              class="home-header d-flex justify-content-center align-items-center pt-4 z-3 page-header lapbackground-none"
              style="z-index: 12345 !important"
            >
              <a href="main_new_page.html" class="lap-height80">
                <img
                  src="../img/home-x-logo.png"
                  class="logo_xnew position-relative"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-md-5 col-lg-5 col-xl-4 px-0">
          <div class="d-flex flex-column justify-content-between vh-100">
            <div
              class="d-flex justify-content-center w-100"
              style="padding-top: 120px"
            >
              <img src="../img/race (2).png" class="center_image-width mt-2" />
            </div>
            <div class="px-3">
              <div class="login-title text-center mb-4">Login</div>
              <div class="mb-35 mt-5">
                <input
                  type="text"
                  class="form-control login-form-control"
                  placeholder="Enter Phone No"
                />
                <!-- <div class="fs-12 fw-500 text-danger ps-2 mt-1">Please select a valid state.</div> -->
              </div>

              <div class="text-white text-center">
                <div class="d-flex justify-content-center">
                  <a href="./loginwithenterotp.html" class="btn btn-login mb-3"
                    >Get OTP</a
                  >
                </div>
                <div class="mb-3 form-check">
                  <a href="./login.html" class="text-decoration_none">
                    <label
                      class="form-check-label"
                      for="exampleCheck1"
                      style="color: #00cefb"
                      >Login In Password</label
                    >
                  </a>
                </div>
              </div>
            </div>

            <div
              class="d-flex flex-column align-items-center justify-content-center W-100 px-3 mb-3"
              style="gap: 8px !important"
            >
              <div class="fs-12 text-white mt-10">
                <span class="mb-1">New to X ?</span>
              </div>
              <div>
                <a
                  href="register.html"
                  class="btn btn-re mb-3 rounded-pill"
                  style="
                    background-color: transparent !important;
                    color: white;
                    border: 1px solid #fff;
                    width: 193px;
                    height: 54px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    font-weight: 900;
                    font-style: italic;
                  "
                  >Register Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
