<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <style></style>

    <script src="../js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container container-xs home-bg vh-100 py-1">
      <div
        class="avatar-bread my-5 position-relative mb-25 px-2 mb-0 mt-0 pt-3"
        bis_skin_checked="1"
      >
        <a href="main_new_page.html">
          <div
            class="logo position-absolute d-flex justify-content-center w-100"
            style="bottom: 90px; z-index: 9999; left: 0"
            bis_skin_checked="1"
          >
            <img src="../img/home-x-logo.png" alt="" srcset="" class="w-25" />
          </div>
        </a>
        <div class="row" bis_skin_checked="1">
          <div class="top-headbread px-2" bis_skin_checked="1">
            <div
              class="card position-relative br-yellow py-4 px-3 mb-15"
              style="
                background-image: url(../img/avatar/top-bread/sffbs\ 1.png);
                background-size: cover;
                border-radius: 13px;
              "
              bis_skin_checked="1"
            >
              <div class="row align-items-center" bis_skin_checked="1">
                <div class="col-7" bis_skin_checked="1">
                  <div
                    class="d-flex align-items-center justify-content-start"
                    bis_skin_checked="1"
                  >
                    <div class="w-40 mr-10">
                      <a href="./avatar.html" class="text-decoration_none">
                        <img
                          src="../img/avatar/top-bread/Mask group (7).png"
                          alt=""
                          srcset=""
                          class="w-100"
                        />
                      </a>
                    </div>

                    <div class="avatar-content" bis_skin_checked="1">
                      <span class="text-yellow fs-9">Welcome</span>

                      <h4 class="text-white fs-18">King@x</h4>
                    </div>
                  </div>
                </div>

                <!-- test starts -->
                <div class="col-5 d-flex justify-content-end">
                  <div
                    class="btn-group dropdown-wrapper lang_drop_down_container"
                  >
                    <button
                      class="btn dropdown-toggle text-white fs-10 br-yellow mbet"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Choose Language
                    </button>
                    <ul
                      class="dropdown-menu bg-gr p-0 bg-transparent text-center"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <li class="lang_drop_down fs-12 fw-600">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >English</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Marathi</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Hindi</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Gujarati</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Tamil</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Bangali</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Telugu</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Kannada</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Malayalam</a
                        >
                      </li>
                      <li class="lang_drop_down fs-12">
                        <a class="dropdown-item py-0 text-purple" href="#"
                          >Bhojpuri</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- test Ends -->
                <!-- <div
                class="col-5 d-flex justify-content-end"
                bis_skin_checked="1"
              >
                <div class="dropdown-lang" bis_skin_checked="1">
                  <div
                    class="dropdown z-index99999"
                    style="z-index: 99999999"
                    bis_skin_checked="1"
                  >
                    <a
                      class="btn dropdown-toggle text-white fs-10 br-yellow mbet"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Choose Language
                    </a>

                    <ul
                      class="dropdown-menu bg-gr p-0 background-transparent"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <li class="lang_drop_down">
                        <a class="dropdown-item fs-10" href="#">Action</a>
                      </li>
                      <li class="lang_drop_down">
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li class="lang_drop_down">
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="menu-header-bg-area"></div> -->
      <div
        class="list-group list-group-flush list-group-cus px-3 mt-3 menu-custom-hight"
      >
        <div
          class="list-group-item list-group-item-action flex-column ShowSubList"
        >
          <div class="d-flex align-items-center w-100">
            <div class="list-icon">
              <img src="../img/icon/icon-profile.png" />
            </div>
            <span class="list-text">Account details</span>
            <span class="ms-auto">
              <img src="../img/icon/icon-plus-circle.png" alt="plus" />
            </span>
          </div>
          <div class="list-group-sub" style="display: none">
            <a href="./myaccount.html" class="text-decoration_none text-white">
              <div class="list-group-sub-item">
                <span>My Account</span>
                <span class="ms-auto">
                  <img src="../img/icon/icon-arrow-right.png" />
                </span>
              </div>
            </a>

            <div
              class="text-decoration_none text-white"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <div class="list-group-sub-item">
                <span>My Commission</span>
                <span class="ms-auto">
                  <img src="../img/icon/icon-arrow-right.png" />
                </span>
              </div>
            </div>
            <div
              class="text-decoration_none text-white"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <div class="list-group-sub-item">
                <span>My Id's</span>
                <span class="ms-auto">
                  <img src="../img/icon/icon-arrow-right.png" />
                </span>
              </div>
            </div>
          </div>
        </div>

        <a href="bonuses.html" class="list-group-item list-group-item-action">
          <div class="list-icon">
            <img src="../img/icon/icon-bonus-offer.png" />
          </div>
          <span class="list-text">Bonus &amp; Offers</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <div
          class="list-group-item list-group-item-action flex-column ShowSubList"
        >
          <div class="d-flex align-items-center w-100">
            <div class="list-icon">
              <img src="../img/icon/icon-view-list.png" />
            </div>
            <span class="list-text">View Transcations</span>
            <span class="ms-auto">
              <img src="../img/icon/icon-plus-circle.png" alt="plus" />
            </span>
          </div>
          <div class="list-group-sub" style="display: none">
            <a href="./Mybet.html" class="text-decoration_none text-white">
              <div class="list-group-sub-item">
                <span>My Bets</span>
                <span class="ms-auto">
                  <img src="../img/icon/icon-arrow-right.png" />
                </span>
              </div>
            </a>
            <a
              href="./mybetprofitloss.html"
              class="text-decoration_none text-white"
            >
              <div class="list-group-sub-item">
                <span>Profit &amp Loss</span>
                <span class="ms-auto">
                  <img src="../img/icon/icon-arrow-right.png" />
                </span>
              </div>
            </a>
          </div>
        </div>

        <a
          href="./refer&earn.html"
          class="list-group-item list-group-item-action"
        >
          <div class="list-icon">
            <img src="../img/icon/icon-refer.png" />
          </div>
          <span class="list-text">Refer and Earn</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <a
          href="./myrefferal.html"
          class="list-group-item list-group-item-action"
        >
          <div class="list-icon">
            <img src="../img/icon/icon-forward.png" />
          </div>
          <span class="list-text">My Referal</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <a href="./undermaintence_page.html" class="list-group-item list-group-item-action">
          <div class="list-icon">
            <img src="../img/icon/icon-prediction.png" />
          </div>
          <span class="list-text">Prediction (Get Tips)</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <a
          href="./customerSupport.html"
          class="list-group-item list-group-item-action"
        >
          <div class="list-icon">
            <img src="../img/icon/icon-customer-support.png" />
          </div>
          <span class="list-text">Customer Support</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <a href="settings.html" class="list-group-item list-group-item-action">
          <div class="list-icon">
            <img src="../img/icon/icon-x-shadow.png" />
          </div>
          <span class="list-text">Setting</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>

        <div
          class="list-group-item list-group-item-action"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="list-icon">
            <img src="../img/icon/icon-how-play.png" />
          </div>
          <span class="list-text">How to Play</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </div>

        <div
          class="list-group-item list-group-item-action"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="list-icon">
            <img src="../img/icon/icon-edit.png" />
          </div>
          <span class="list-text">Rules &amp; Regulations</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </div>

        <a href="./index.html" class="list-group-item list-group-item-action">
          <div class="list-icon">
            <img src="../img/icon/icon-edit.png" />
          </div>
          <span class="list-text" an>Logout</span>
          <span class="ms-auto">
            <img src="../img/icon/icon-arrow-right.png" />
          </span>
        </a>
      </div>
      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="main_new_page.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img
              src="../img/icon/menuactive.png"
              class="tab-icon"
              style="width: 18px; height: 16px"
            />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>

    <!-- modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent">
          <div class="modal-body px-4 py-0">
            <div class="position-relative">
              <img src="../img/pop-up/pop-up-bg.png" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../js/bootstrap.bundle.js"></script> -->
    <script>
      $(document).ready(function () {
        $(".ShowSubList").click(function () {
          console.log("fdsf");
          $(this).find(".list-group-sub").slideToggle();
        });
      });
    </script>
  </body>
</html>
