<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <style>
      .register-bg.bg_image_both_L_M {
        background-image: url(../img/register-bg.png);
      }
      .register-bg.bg_image_both_L_M .center_image-width {
        width: 35%;
      }
      @media (min-width: 700px) {
        .register-bg.bg_image_both_L_M {
          background-image: url(../img/Laptop/login/Register\ Page.png);

          background-size: cover;
          background-position: center;
        }
        .register-bg.bg_image_both_L_M .center_image-width {
          width: 40%;
        }
        .register-bg.bg_image_both_L_M .login-form-control {
          height: 55px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container container-xs vh-100 register-bg bg_image_both_L_M">
      <nav class="navbar navbar-expand-lg bg-purple br-yellow fixed-top mobile-tab-none">
        <div class="container col-md-12">
          <img src="../img/play-X-logonew.png" alt="logo" class="w-11" />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav me-auto mb-2 mb-lg-0 text-white fs-15 fw-600 gap-2"
            >
              <li class="nav-item">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">In-play</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"
                  >Teenpatti</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Casino</a>
              </li>
            </ul>
            <div class="d-flex g-15 align-items-center" role="search">
              <a href="./customerSupport.html" class="text-decoration-none">
                <button
                  class="btn btn-yellow rounded-pill header-btnyellow fs-14 me-5"
                  type="submit"
                >
                  <i class="fa-solid fa-phone"></i> Call
                </button>
              </a>

              <div class="d-flex g-15">
                <a href="./login.html" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill header-btnyellow fs-14 bg-white"
                    type="submit"
                  >
                    Login
                  </button>
                </a>
                <a href="./main_joinnow.html" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill header-btnyellow fs-14 bg-white"
                    type="submit"
                  >
                    Signup
                  </button>
                </a>
                <a href="#" class="text-decoration-none">
                  <button
                    class="btn btn-yellow rounded-pill bg-yellow fs-14"
                    type="submit"
                  >
                    Demo Login
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div
        class="d-flex justify-content-center fixed-top w-100 topheader_lap mobile-tab-none"
      >
        <div class="w-100 d-flex justify-content-center">
          <div class="d-flex justify-content-center">
            <div
              class="home-header d-flex justify-content-center align-items-center pt-4 z-3 page-header lapbackground-none"
              style="z-index: 12345 !important"
            >
              <a href="main_new_page.html" class="lap-height80">
                <img
                  src="../img/home-x-logo.png"
                  class="logo_xnew position-relative"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-md-5 col-lg-5 col-xl-4 px-0">
          <div
            class="d-flex flex-column justify-content-between vh-100"
            style="padding-top: 125px"
          >
            <div class="d-flex justify-content-center w-100 mt-2">
              <img
                src="../img/multiple-exchange.png"
                class="center_image-width"
                style="margin-top: 10px"
              />
            </div>
            <div class="px-3">
              <div class="login-title text-center mb-md-1">Register</div>
              <div class="mb-2 mb-md-3">
                <input
                  type="text"
                  class="form-control login-form-control"
                  placeholder="Enter Your Mobile Number"
                />
                <!-- <div class="fs-12 fw-500 text-white ps-2 mt-1">
                  You will receive an otp for verification
                </div> -->
              </div>
              <div class="mb-3 mb-md-3">
                <input
                  type="text"
                  class="form-control login-form-control"
                  placeholder="Enter Your Mobile Number"
                />
                <!-- <div class="fs-12 fw-500 text-white ps-2 mt-1">
                  You will receive an otp for verification
                </div> -->
              </div>
              <div class="mt-md-3">
                <input
                  type="text"
                  class="form-control login-form-control"
                  placeholder="Inter Invite Code"
                />
                <div class="ps-2 mt-2">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label
                      class="form-check-label fs-12 fw-500 text-white"
                      for="flexCheckDefault"
                      >I certify that i am above 18 Years.</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column align-items-center W-100">
              <a href="otp.html" class="btn btn-login mb-3">Next</a>
              <div class="fs-12 mb-4">
                <span class="text-white"
                  ><a
                    href="./login.html"
                    class="text-decoration-none text-white"
                    >Already a player ?</a
                  ></span
                >
                <a href="./login.html" class="text-yellow text-decoration-none"
                  >Log in</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
